In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("C:\Users\acer\Desktop\bakchodi\Student_Performance_Data")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (2800332023.py, line 1)

In [3]:
data = pd.read_csv("C:\Users\acer\Desktop\bakchodi\Student_Performance_Data.csv")data = pd.read_csv("C:\Users\acer\Desktop\bakchodi\Student_Performance_Data")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (423978110.py, line 1)

In [4]:
data = pd.read_csv(r"C:\Users\acer\Desktop\bakchodi\Student_Performance_Data.csv")

In [5]:
data.head()

    Student_ID Semster_Name     Paper_ID Paper_Name  Marks
0  SID20131143        Sem_1  SEMI0012995    Paper 1     44
1  SID20131143        Sem_1  SEMI0015183    Paper 2     74
2  SID20131143        Sem_1  SEMI0018371    Paper 3     80
3  SID20131143        Sem_1  SEMI0015910    Paper 4     44
4  SID20131143        Sem_1  SEMI0016208    Paper 5     95

In [7]:
data = pd.read_csv(r"C:\Users\acer\Desktop\bakchodi\Student_Performance_Data.csv",header = None)

C:\Users\acer\AppData\Local\Temp\ipykernel_15036\3791857327.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(r"C:\Users\acer\Desktop\bakchodi\Student_Performance_Data.csv",header = None)

In [8]:
transcation = []
for i in range(0,7000):
    transcation.append([str(dataset.values[i,j]) for j in range(0,20)])

NameError: name 'dataset' is not defined

In [11]:
transactions=[]
for i in range(0,7501):
    transactions.append([str(data.values[i,j]) for j in range(0,20)])

IndexError: index 5 is out of bounds for axis 1 with size 5